<h1>ユーザ一覧</h1>

<a href="/users/new">新規作成</a>
<%= link_to '新規作成', new_user_path %>

<table>
  <thead>
    <th>学年</th>
    <th>学籍番号</th>
    <th>アカウント名</th>
    <th>氏名</th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.grade %></td>
      <td><%= user.snum %></td>
      <td><%= user.account %></td>
      <td><%= user.name %></td>
      <td><%= link_to '編集', edit_user_path(user) %></td>
      <td><%= link_to '削除', user_path(user), method: 'delete' %></td>
    </tr>
    <% end %>
  </tbody>
</table>












