

<table border = "1">
  <tr><td><%= @paper.title_ja %></td></tr>
  <tr><td><%= @paper.title_en %></td></tr>
  <tr><td><%= @paper.lead_author %></td></tr>
  <tr><td><%= @paper.co_author %></td></tr>
  <tr><td><%= @paper.abstract %></td></tr>
  link_to 
</table>

