

<table border = "1">
  <tr><td><%= @paper.title_J %></td></tr>
  <tr><td><%= @paper.title_E %></td></tr>
  <tr><td><%= @paper.Lead_author %></td></tr>
  <tr><td><%= @paper.Co_author %></td></tr>
  <tr><td><%= @paper.abstract %></td></tr>
</table>

